@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "FavoriteHeavyC";
    src: url("/src/assets/FavoritHeavyC.ttf");
  }

@font-face {
    font-family: Rift;
    src: url("/src/assets/Fort\ Foundry\ -\ Rift\ Bold\ Italic.otf");
  }

  @layer base {
    @font-face {
        font-family: FavoriteHeavyC;
        font-weight: 400;
        src: url("/src/assets/FavoritHeavyC.ttf") format("ttf");
    }
  }