@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {

    font-family: "FavoriteHeavyC";
    src: url("../assets/FavoritHeavyC.ttf");
  }

@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../assets/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Rift";
    src: url("../assets/Fort\ Foundry\ -\ Rift\ Bold\ Italic.otf");
  }

  @font-face {
    font-family: "FavoritC";
    src: url("../assets/FavoritC.ttf");
  }

  @font-face {
    font-family: "RiftItalic";
    src: url("../assets/Fort\ Foundry\ -\ Rift\ Italic.otf");
  }

  @font-face {
    font-family: "RiftRegular";
    src: url("../assets/Fort\ Foundry\ -\ Rift-Regular.otf");
  }

